<%- include('../layout/adminHeader'); -%>
<style>
#borderStyle {
        border-radius: 10px;
        border: 2px solid #73AD21;
        padding: 5px; 
}
.display {
       display: none;
}

</style>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="callout" >
                        <div class="row">
                        <div class="col-sm-4">
                        <div class="form-group">
                        <label>Identity Code</label>
                        <input type="text" class="form-control"  id="identity_code" name="identity_code" placeholder="Enter Product Code">
                        </div>
                        </div>
                        <div class="col-sm-4">
                        <div class="form-group">
                        <label>Invoice No</label>
                        <input type="text" class="form-control" id="invoice_no" name="invoice_no" value="<%- (typeof invoiceNo != 'undefined') ? invoiceNo : ''; %>" readonly>
                        </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                            <label>Date</label>
                            <input type="text" class="form-control" id="invoiceDate" name="invoiceDate" disabled >
                            </div>
                            </div>

                    </div>
                </div>
                    <div class="callout">
                        <div class="row" >
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Customer Name</label>
                                <input type="text" class="form-control" placeholder="Customer Name">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Customer Phone</label>
                                <input type="text" class="form-control" placeholder="Customer Phone">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Customer Address</label>
                                <input type="text" class="form-control" placeholder="Customer Address">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Customer NID</label>
                                <input type="text" class="form-control" placeholder="NID No">
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Nominee Name</label>
                                <input type="text" class="form-control" placeholder="Nominee Name">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Nominee Phone</label>
                                <input type="text" class="form-control" placeholder="Nominee Phone">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Nominee Address</label>
                                <input type="text" class="form-control" placeholder="Nominee Address">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Nominee NID</label>
                                <input type="text" class="form-control" placeholder="Nominee NID">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="callout">
                        <div class="table-responsive ">
                            <table class="table table-bordered table-hover text-nowrap">
                              <thead>
                                <tr>
                                  <th>SL</th>
                                  <th>Identity Code</th>
                                  <th>Product Name</th>
                                  <th>Purchase Price</th>
                                  <th>Sale Price</th>
                                  <th>Quantity</th>
                                  <th>Total Amount</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody id="sale_item_table_body">
                              
                              </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
                <div class="col-md-3" id="borderStyle">
                    <div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-5 col-form-label">Net Amount:</label>
                        <div class="col-sm-7">
                        <input type="number" class="form-control" readonly id="inputEmail3" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-5 col-form-label">Total Item:</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-5 col-form-label"></label>
                        <div class="col-sm-7">
                            <div class="icheck-success d-inline">
                                <input type="checkbox" id="is_installMent">
                                <label for="is_installMent">
                                    Is Installment
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row display" id="divDuration">
                        <label for="inputEmail3" class="col-sm-5 col-form-label">Install Duration:</label>
                        <div class="col-sm-7">
                            <div class="input-group mb-3">
                                <input type="number" name="" id=""  min="0" class="form-control rounded-0">
                                <span class="input-group-append">
                                <button type="button" class="btn btn-info btn-flat">Month</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row display" id="divDownPayment">
                        <label for="inputEmail3" class="col-sm-5 col-form-label">Down Payment:</label>
                        <div class="col-sm-7">
                        <input type="number" class="form-control" min="0" id="inputEmail3" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row display" id="divDueAmt">
                        <label for="inputEmail3" class="col-sm-5 col-form-label">Due Amount:</label>
                        <div class="col-sm-7">
                        <input type="number" class="form-control" min="0" id="inputEmail3" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-5 col-form-label">Total Payable Amount:</label>
                        <div class="col-sm-7">
                        <input type="number" class="form-control"  min="0" id="inputEmail3" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-5 col-form-label">Payment Type:</label>
                        <div class="col-sm-7">
                            <% if(typeof paymentData != 'undefined') { %>
                                <select class="form-control" name="brand_id" required>
                                    <option value="">--Select Payment--</option>
                                    <% if(paymentData.length > 0) { %>
                                    <% for(let key in paymentData){ %>
                                        <option value="<%- paymentData[key].id %>" <%- (typeof old != 'undefined' && old?.payment_type_id == paymentData[key].id) ? 'selected' : ''; %> >
                                            <%- paymentData[key].name %>
                                        </option>
                                    <% } %>
                                    <% } %>
                                </select>
                            <% }else{ %>
                                <p class="text-danger">Data not Found!.</p>
                           <%  } %>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="card-body row">
                            <div class="col-md-6">
                            <button type="button" class="btn btn-outline-danger btn-block btn-sm"><i class="fa fa-times"></i>  CANCEL</button>
                            </div>
                            <div class="col-md-6">
                            <button type="button" class="btn btn-outline-success btn-block btn-sm"><i class="fa fa-save"></i>  SAVE ORDER</button>
                            </div>
                            </div>
                    </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<%- include('../layout/adminFooter'); -%>

<script>
     $(function () {
        $("#expand_bar").click();
        $('#invoiceDate').datepicker({
            format: "yyyy-mm-dd",
        }).datepicker("setDate" , new Date());

        $('#is_installMent').change(function() {
            var isChecked = $(this).is(":checked");
            if (isChecked) {
                $("#divDuration").removeClass("display");
                $("#divDownPayment").removeClass("display");
                $("#divDueAmt").removeClass("display");
            }else{
                $("#divDuration").addClass("display");
                $("#divDownPayment").addClass("display");
                $("#divDueAmt").addClass("display");
            }
         });

         $('#identity_code').change(function() {
            let identity_code = $(this).val();
            let checkUrl = '/admin/get-product-details/'+identity_code;
            return $.ajax({
                        url: checkUrl,
                        dataType: 'json',
                        method: 'get'
                    }).done(function (response) {
                        var tableRow ='';
                        if (response != 'NOSTOCK' && response != 'error') {
                            tableRow = `<tr>
                                        <td></td>
                                        <td>${response.identity_code}</td>
                                        <td>${response.name}</td>
                                        <td>${response.purchase_price}</td>
                                        <td></td>
                                        <td>${response.current_stock}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>`;
                            $('#sale_item_table_body').append(tableRow);
                            $('#identity_code').val('');
                        }else{
                            alert('This Product Stock Not Avaiable!.');
                        }
                       
                    }).fail(function(){
                        alert('Something went wrong.');
                        $(this).val('');
                    });
         })
     })
</script>