<%- include('../layout/adminHeader'); -%>
<style>
#borderStyle {
        border-radius: 10px;
        border: 2px solid #73AD21;
        padding: 5px; 
}
.display {
       display: none;
}

</style>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <form method="post" action="/admin/point-of-sale/save">
            <div class="row">
                <div class="col-md-9">
                    <div class="callout" >
                        <div class="row">
                        <div class="col-sm-4">
                        <div class="form-group">
                        <label>Identity Code</label>
                        <input type="text" class="form-control"  id="identity_code" name="identity_code" placeholder="Enter Product Code">
                        </div>
                        </div>
                        <div class="col-sm-4">
                        <div class="form-group">
                        <label>Invoice No</label>
                        <input type="text" class="form-control" id="invoice_no" name="invoice_no" value="<%- (typeof invoiceNo != 'undefined') ? invoiceNo : ''; %>" readonly>
                        <p class="text-danger">
                            <%= (typeof errors != 'undefined' &&
                            errors.invoice_no)?errors.invoice_no:''; %>
                          </p>
                        </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                            <label>Date</label>
                            <input type="text" class="form-control" id="invoiceDate" name="invoiceDate" disabled >
                            </div>
                            </div>

                    </div>
                    </div>
                    <div class="callout">
                        <div class="row" >
                            <input type="hidden" id="hidden_customer_id" name="hidden_customer_id"> 
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Customer Name</label>
                                <input type="text" class="form-control" id="customer_name" name="customer_name" placeholder="Customer Name">
                                <p class="text-danger">
                                    <%= (typeof errors != 'undefined' &&
                                    errors.customer_name)?errors.customer_name:''; %>
                                  </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Customer Phone</label>
                                <input type="text" class="form-control" id="customer_phone" name="customer_phone" min="0" maxlength="11" placeholder="Customer Phone">
                                <p class="text-danger">
                                    <%= (typeof errors != 'undefined' &&
                                    errors.customer_phone)?errors.customer_phone:''; %>
                                  </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Customer Address</label>
                                <input type="text" class="form-control" id="customer_address" name="customer_address" placeholder="Customer Address">
                                <p class="text-danger">
                                    <%= (typeof errors != 'undefined' &&
                                    errors.customer_address)?errors.customer_address:''; %>
                                  </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Customer NID</label>
                                <input type="text" class="form-control" id="customer_NID" name="customer_NID" placeholder="NID No">
                                <p class="text-danger">
                                    <%= (typeof errors != 'undefined' &&
                                    errors.customer_NID)?errors.customer_NID:''; %>
                                  </p>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <input type="hidden" id="hidden_customer_nominee_id" name="hidden_customer_nominee_id"> 
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Nominee Name</label>
                                <input type="text" class="form-control" id="nominee_name" name="nominee_name" placeholder="Nominee Name">
                                <p class="text-danger">
                                    <%= (typeof errors != 'undefined' &&
                                    errors.nominee_name)?errors.nominee_name:''; %>
                                  </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Nominee Phone</label>
                                <input type="text" class="form-control"  id="nominee_phone" name="nominee_phone"  min="0" maxlength="11"  placeholder="Nominee Phone">
                                <p class="text-danger">
                                    <%= (typeof errors != 'undefined' &&
                                    errors.nominee_phone)?errors.nominee_phone:''; %>
                                  </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Nominee Address</label>
                                <input type="text" class="form-control" id="nominee_address" name="nominee_address" placeholder="Nominee Address">
                                <p class="text-danger">
                                    <%= (typeof errors != 'undefined' &&
                                    errors.nominee_address)?errors.nominee_address:''; %>
                                  </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Nominee NID</label>
                                <input type="text" class="form-control" id="nominee_NID" name="nominee_NID" placeholder="Nominee NID">
                                <p class="text-danger">
                                    <%= (typeof errors != 'undefined' &&
                                    errors.nominee_NID)?errors.nominee_NID:''; %>
                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="callout">
                        <div class="table-responsive ">
                            <table class="table table-bordered table-hover text-nowrap" id="sale_item_table">
                                <thead>
                                    <tr>
                                      <th>SL</th>
                                      <th>Identity Code</th>
                                      <th>Product Name</th>
                                      <th>Purchase Price</th>
                                      <th>Sale Price</th>
                                      <th>Quantity</th>
                                      <th>Stock</th>
                                      <th>Total Amount</th>
                                      <th>Action</th>
                                    </tr>
                                  </thead>
                                  <tbody id="sale_item_table_body">
                                  
                                  </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
                <div class="col-md-3" id="borderStyle">
                    <div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-5 col-form-label">Net Amount:</label>
                        <div class="col-sm-7">
                        <input type="number" class="form-control" readonly id="net_amount" name="net_amount" placeholder="">
                        <p class="text-danger">
                            <%= (typeof errors != 'undefined' &&
                            errors.net_amount)?errors.net_amount:''; %>
                          </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-5 col-form-label">Total Item:</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" id="invoice_item" name="invoice_item" placeholder="" readonly>
                        <p class="text-danger">
                            <%= (typeof errors != 'undefined' &&
                            errors.invoice_item)?errors.invoice_item:''; %>
                          </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-5 col-form-label"></label>
                        <div class="col-sm-7">
                            <div class="icheck-success d-inline">
                                <input type="checkbox" id="is_installMent" name="is_installMent">
                                <label for="is_installMent">
                                    Is Installment
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row display" id="divDuration">
                        <label for="inputEmail3" class="col-sm-5 col-form-label">Installment Duration:</label>
                        <div class="col-sm-7">
                            <div class="input-group mb-3">
                                <input type="number" name="installment_duration" id="installment_duration"  min="0" class="form-control rounded-0">
                                <span class="input-group-append">
                                <button type="button" class="btn btn-info btn-flat">Month</button>
                                </span>
                                <p class="text-danger">
                                    <%= (typeof errors != 'undefined' &&
                                    errors.installment_duration)?errors.installment_duration:''; %>
                                  </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row display" id="divDownPayment">
                        <label for="inputEmail3" class="col-sm-5 col-form-label">Down Payment:</label>
                        <div class="col-sm-7">
                        <input type="number" class="form-control" min="0" id="down_payment" name="down_payment" placeholder="">
                        <p class="text-danger">
                            <%= (typeof errors != 'undefined' &&
                            errors.down_payment)?errors.down_payment:''; %>
                          </p>
                        </div>
                    </div>
                    <div class="form-group row display" id="divDueAmt">
                        <label for="inputEmail3" class="col-sm-5 col-form-label">Due Amount:</label>
                        <div class="col-sm-7">
                        <input type="number" class="form-control" min="0" id="due_amount" name="due_amount" placeholder="" readonly>
                        <p class="text-danger">
                            <%= (typeof errors != 'undefined' &&
                            errors.due_amount)?errors.due_amount:''; %>
                          </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-5 col-form-label">Total Payable Amount:</label>
                        <div class="col-sm-7">
                        <input type="number" class="form-control"  min="0" id="total_payable_amount" name="total_payable_amount" placeholder="" readonly>
                        <p class="text-danger">
                            <%= (typeof errors != 'undefined' &&
                            errors.total_payable_amount)?errors.total_payable_amount:''; %>
                          </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-5 col-form-label">Payment Type:</label>
                        <div class="col-sm-7">
                            <% if(typeof paymentData != 'undefined') { %>
                                <select class="form-control" name="payment_type_id" id="payment_type_id" required>
                                    <option value="">--Select Payment--</option>
                                    <% if(paymentData.length > 0) { %>
                                    <% for(let key in paymentData){ %>
                                        <option value="<%- paymentData[key].id %>" <%- (typeof old != 'undefined' && old?.payment_type_id == paymentData[key].id) ? 'selected' : ''; %> >
                                            <%- paymentData[key].name %>
                                        </option>
                                    <% } %>
                                    <% } %>
                                </select>
                            <% }else{ %>
                                <p class="text-danger">Data not Found!.</p>
                           <%  } %>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="card-body row">
                            <div class="col-md-6">
                            <button type="button" class="btn btn-outline-danger btn-block btn-sm"><i class="fa fa-times"></i>  CANCEL</button>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-outline-success btn-block btn-sm"><i class="fa fa-save"></i>  SAVE ORDER</button>
                            </div>
                        </div>
                        <div class="card-body row">
                            <button type="button" class="btn btn-outline-primary btn-block btn-sm"><i class="fa fa-save"></i> INVOICE RE-PRINT</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

  <!-- Modal -->
  <div class="modal fade" id="invoiceGenModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body">
            <h5>Data Saved Successfully!</h5>
            <h6>Last Invoice Number:#<%- Request.session.sale_invoice_num; %></h6>
             <a class="btn btn-warning btn-block btn-sm" href="/file_storage/invoices/<%- Request.session.sale_invoice_num; %>.pdf" target="_blank">
                <i class="fa fa-download"></i> INVOICE OPEN
             </a>
        </div>
      </div>
    </div>
  </div>
<%- include('../layout/adminFooter'); -%>

<script>
     $(function () {
        let invoice_num = "<%- Request.session.sale_invoice_num; %>";
        if (invoice_num) {
            $('#invoiceGenModal').modal("show");
        }
        let isinstallMent = "<%- (typeof old != 'undefined') ? old.is_installMent : ''; %>";
        if (isinstallMent) {
               document.getElementById("is_installMent").checked = true;
                $("#divDuration").removeClass("display");
                $("#divDownPayment").removeClass("display");
                $("#divDueAmt").removeClass("display");
        }else{
                $("#divDuration").addClass("display");
                $("#divDownPayment").addClass("display");
                $("#divDueAmt").addClass("display");
        }
        $("#expand_bar").click();
        $('#invoiceDate').datepicker({
            format: "yyyy-mm-dd",
        }).datepicker("setDate" , new Date());

        $('#is_installMent').change(function() {
            var isChecked = $(this).is(":checked");
            if (isChecked) {
                $("#divDuration").removeClass("display");
                $("#divDownPayment").removeClass("display");
                $("#divDueAmt").removeClass("display");
            }else{
                $("#divDuration").addClass("display");
                $("#divDownPayment").addClass("display");
                $("#divDueAmt").addClass("display");
            }
         });

         $('#identity_code').change(function(e) {
            e.preventDefault();
            let identity_code = $(this).val();
            let checkUrl = '/admin/get-product-details/'+identity_code;
            return $.ajax({
                        url: checkUrl,
                        dataType: 'json',
                        method: 'get'
                    }).done(function (response) {
                        var tableRow ='';
                        if (response != 'NOSTOCK' && response != 'error') {
                            var rowCount = $("#sale_item_table_body tr").length;
                            let isNew;
                            if (rowCount >0) {
                                isNew =  ItemQtyIncrement(response.identity_code);
                            }
                            if (!isNew) {
                                tableRow = `<tr>
                                        <td>${rowCount +1}</td>
                                        <td style='display:none'><input type="number" class="form-control" id="tbt_product_id" name="tbt_product_id[]" value="${response.id}" readonly></td>
                                        <td><input type="text" class="form-control" id="tbt_identity_code" name="tbt_identity_code[]" value="${response.identity_code}" readonly></td>
                                        <td><input type="text" class="form-control" id="tbl_product_name" name="tbl_product_name[]" value="${response.name}" readonly></td>
                                        <td><input type="text" class="form-control" id="tbl_purchase_price" name="tbl_purchase_price[]" value="${response.purchase_price}" readonly></td>
                                        <td><input type="number" class="form-control tbl_sale_price" min="0" id="tbl_sale_price" name="tbl_sale_price[]" value=""></td>
                                        <td><input type="number" class="form-control tbl_sale_quantity" min="0" id="tbl_sale_quantity" name="tbl_sale_quantity[]" value="1"></td>
                                        <td><input type="number" class="form-control current_stock" min="0" id="current_stock" name="current_stock[]" value="${response.current_stock}" readonly></td>
                                        <td><input type="number" class="form-control tbl_total_price" min="0" id="tbl_total_price" name="tbl_total_price[]" value="" readonly></td>
                                        <td><a href="#" class=" deleteItem btn btn-danger"><i class="fa fa-trash"></i></a></td>
                                    </tr>`;
                            $('#sale_item_table_body').append(tableRow);
                            }

                            $('#identity_code').val('');
                        }else{
                            alert('This Product Stock Not Avaiable!.');
                        }
                       
                    }).fail(function(){
                        alert('Something went wrong.');
                        $(this).val('');
                    });
         });

         $('#customer_phone').change(function(e) {
            e.preventDefault();
            let customerPhone = $(this).val();
            let checkUrl = '/admin/customer-info-by-mobile/'+customerPhone;
            return $.ajax({
                        url: checkUrl,
                        dataType: 'json',
                        method: 'get'
                    }).done(function (response) {
                        if (response != 'error') {
                           $("#hidden_customer_id").val(response.id);
                           $("#customer_name").val(response.name);
                           $("#customer_phone").val(response.phone);
                           $("#customer_address").val(response.address);
                           $("#customer_NID").val(response.nid_no);
                        }
                    }).fail(function(){
                        alert('Something went wrong.');
                    });
            });

            $('#nominee_phone').change(function(e) {
            e.preventDefault();
            let nomineePhone = $(this).val();
            let checkUrl = '/admin/customer-nominee-info-by-mobile/'+nomineePhone;
            return $.ajax({
                        url: checkUrl,
                        dataType: 'json',
                        method: 'get'
                    }).done(function (response) {
                        if (response != 'error') {
                           $("#hidden_customer_nominee_id").val(response.id);
                           $("#nominee_name").val(response.nominee_name);
                           $("#nominee_phone").val(response.nominee_phone);
                           $("#nominee_address").val(response.nominee_address);
                           $("#nominee_NID").val(response.nominee_nid_no);
                        }
                    }).fail(function(){
                        alert('Something went wrong.');
                    });
            });

         $("#sale_item_table_body").on('keyup', '.tbl_sale_price', function () {
             var thisRow = $(this);
             rowDataCalculation(thisRow);
             compute();
        });
        $("#sale_item_table_body").on('keyup', '.tbl_sale_quantity', function () {
             var thisRow = $(this);
             rowDataCalculation(thisRow);
             compute();
        });
        $('#down_payment').keyup(function() {
             var down_payment_value = parseFloat($(this).val());
             var net_amount = parseFloat($('#net_amount').val());
            $("#due_amount").val(net_amount-down_payment_value);
            $("#total_payable_amount").val(down_payment_value);
        });
    //Delete from grid Table
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var self = $(this);
            if (self) {
                $(this).parents('tr').css("background-color", "#dc143c").fadeOut(800, function () {
                    $(this).remove();
                    compute();
                });
            } else {
                //t("delete hoi ni");
                toastr.error("Data cann't delete");
            }
        });
     })

    function ItemQtyIncrement(identity_code) {
        let isFound = false;
        $.each($("#sale_item_table_body tr"),
            function() {
                var tbt_identity_code = $(this).find('#tbt_identity_code').val();
                var quantity = $(this).find('#tbl_sale_quantity').val();
                if (identity_code === tbt_identity_code) {
                    $(this).find('#tbl_sale_quantity').val(parseInt(quantity) + 1);
                    //This For SameBarcode Scan Calculation
                     var tbl_sale_quantity = $(this).find('#tbl_sale_quantity').val();
                     var salePrice = $(this).find('#tbl_sale_price').val();
                     var totalPrice = parseInt(salePrice) * parseInt(tbl_sale_quantity);
                     $(this).find('#tbl_total_price').val(totalPrice);
                    //end
                    isFound = true;
                    
                }
            });
        return isFound;

    }

    function rowDataCalculation(data) {
        var stock = data.parents('tr').find('.current_stock').val();
        var quantity = data.parents('tr').find('.tbl_sale_quantity').val();
        if (parseInt(quantity) > parseInt(stock)) {
            alert("Stock Not Available");
            data.parents('tr').find('.tbl_sale_quantity').val(stock);
            return false;
        } else {
            var subTotal = data.parents('tr').find('.tbl_total_price');
            var salePrice = data.parents('tr').find('.tbl_sale_price').val();
            var totalSubPrice = parseInt(quantity) * parseFloat(salePrice);
            subTotal.val(totalSubPrice);
        }

    }
    function compute() {
        var sumPrice = 0;
        var sumItem = 0;
        $.each($("#sale_item_table_body tr"),function() {
            sumPrice += getnum($(this).find('#tbl_total_price').val());
            sumItem += getnum($(this).find('#tbl_sale_quantity').val());
            function getnum(t){
                if(isNumeric(t)){
                    return parseInt(t,10);
                }
                return 0;
                function isNumeric(n) {
                    return !isNaN(parseFloat(n)) && isFinite(n);
                }
            }
        });
        $("#net_amount").val(sumPrice);
        $("#invoice_item").val(sumItem);
        $("#total_payable_amount").val(sumPrice);
    }
</script>