<%- include('../layout/adminHeader'); -%>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header d-flex p-0">
            <h3 class="card-title p-3"><b>Sale Info List</b></h3>
            <ul class="nav nav-pills ml-auto p-2">
              <li class="nav-item">
                <a class="btn btn-sm btn-info filterbutton" id="filterbutton"><i class="fa fa-solid fa-filter"></i> Filter</a>
              </ul>
          </div>

          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table table-bordered table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>SL</th>
                    <th>Action</th>
                    <th>Invoice Num</th>
                    <th>Invoice Date</th>
                    <th>Net Amount</th>
                    <th>Total Payable Amount</th>
                    <th>Customer Name</th>
                    <th>Customer Phone</th>
                    <th>Payment Type</th>
                    <th>Is Installment</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <% if(rows.length > 0) { 
                    rows.forEach(row=>{%>
                    <tr>
                        <td><%- sl++ %></td>
                        <td>
                          <a class="btn btn-warning btn-sm check-details" data-id="<%= row.invoice_no %>"><i class="fa fa-eye"></i> Details</a>
                        </td>
                        <td><%- row.invoice_no %></td>
                        <td><%- row.invoice_date %></td>
                        <td><%- row.net_amount %></td>
                        <td><%- row.total_payment_amount %></td>
                        <td><%- row.customer_name %></td>
                        <td><%- row.customer_phone %></td>
                        <td><%- row.payment_type_name %></td>
                        <td>
                          <span class="<%- row.is_installment == 1 ? 'badge bg-success' : 'badge bg-danger' %>">
                          <%- row.is_installment == 1 ? 'Installment' : 'CASH' %>
                          </span>
                        </td>
                       
                    </tr>
                <% }) }else{%>
                    <tr>
                        <td colspan="10" class="text-center">No Data Found!</td>
                    </tr>
                <% }%>
                </tbody>
              </table>
          </div>
          </div>

          <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><%- pagination %></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<%- include('../layout/adminFooter'); -%>

<script>
  $(function () {
      $('.check-details').on('click',function () {
          let invoiceNum = $(this).data("id");
          let checkUrl = '/admin/sale-details/'+invoiceNum;
          $.alert({
              title: 'Invoice Details',
              type: 'green',
              draggable: true,
              columnClass: 'col-md-12',
              content: function () {
                  var self = this;
                  return $.ajax({
                      url: checkUrl,
                      dataType: 'json',
                      method: 'get'
                  }).done(function (response) {
                      var tablesaleinfo ='';
                      var tablesaleIte ='';
                      var customerInfo ='';
                      var customerNomineeInfo ='';
                      var customerDueInfo ='';
                        if (response.items.length > 0) {
                          response.items.forEach(element => {
                            tablesaleIte += `<tr>
                                  <td>${element.identity_code}</td>
                                  <td>${element.productName}</td>
                                  <td>${element.sale_price}</td>
                                  <td>${element.quantity}</td>
                                  <td>${element.sale_amount}</td>
                              </tr>`;
                        });
                        tablesaleinfo += `<tr>
                                  <td>${response.saleInfo.invoice_no}</td>
                                  <td>${response.saleInfo.invoice_date}</td>
                                  <td>${response.saleInfo.invoice_item_count}</td>
                                  <td>${response.saleInfo.net_amount}</td>
                                  <td>${response.saleInfo.down_payment}</td>
                                  <td>${response.saleInfo.total_payment_amount}</td>
                                  <td class="text-warning">${response.saleInfo.is_installment}</td>
                                  <td>${response.saleInfo.created_at}</td>
                              </tr>`;
                        customerInfo += `<tr>
                                  <td>${response.customerInfo.name}</td>
                                  <td>${response.customerInfo.address}</td>
                                  <td>${response.customerInfo.phone}</td>
                                  <td>${response.customerInfo.email}</td>
                                  <td>${response.customerInfo.nid_no}</td>
                              </tr>`;
                              if (typeof response.customerNomineeInfo !== 'undefined') {
                                customerNomineeInfo += `<tr>
                                  <td>${response.customerNomineeInfo.nominee_name}</td>
                                  <td>${response.customerNomineeInfo.nominee_address}</td>
                                  <td>${response.customerNomineeInfo.nominee_phone}</td>
                                  <td>${response.customerNomineeInfo.nominee_email}</td>
                                  <td>${response.customerNomineeInfo.nominee_nid_no}</td>
                              </tr>`;
                              }
                              if (typeof response.customerDueInfo !== 'undefined') {
                              customerDueInfo += `<tr>
                                      <td>${response.customerDueInfo.invoice_no}</td>
                                      <td>${response.customerDueInfo.invoice_amount}</td>
                                      <td>${response.customerDueInfo.due_amount}</td>
                                      <td>${response.customerDueInfo.remaining_amount}</td>
                                      <td>${response.customerDueInfo.installment_duration}</td>
                                      <td>${response.customerDueInfo.installment_charge_percentage}</td>
                                      <td class="text-warning">${response.customerDueInfo.is_repayment_completed}</td>
                                  </tr>`;
                            }

                        self.setContent(`
                        <div class="table-responsive">
                        <table class="table table-responsive table-bordered">
                            <thead>
                              <tr><th>Invoice Num</th><th>Date</th><th>Total Item</th><th>Net Amount</th><th>Down Payment</th><th>Total Payable Amount</th><th>Sale Type</th><th>Created Date</th></tr>
                            </thead>
                          <tbody>
                          ${tablesaleinfo}
                          </tbody>
                          </table>
                          </div>
                          <div class="table-responsive">
                          <table class="table table-responsive table-bordered">
                            <h4>Invoice Items:</h4>
                            <thead>
                              <tr><th>Item Code</th><th>Name</th><th>Sale Price</th><th>Quantity</th><th>Sale Amount</th></tr>
                            </thead>
                            <tbody>
                            ${tablesaleIte}
                            </tbody>
                          </table>
                          </div>
                          <div class="table-responsive">
                          <table class="table table-responsive table-bordered">
                            <h4>Customer Info:</h4>
                            <thead>
                              <tr><th>Name</th><th>Address</th><th>Phone</th><th>Email</th><th>Nid No</th></tr>
                            </thead>
                            <tbody>
                            ${customerInfo}
                            </tbody>
                          </table>
                          </div>
                          <div class="table-responsive">
                          <table class="table table-responsive table-bordered">
                            <h4>Nominee Info:</h4>
                            <thead>
                              <tr><th>Name</th><th>Address</th><th>Phone</th><th>Email</th><th>Nid No</th></tr>
                            </thead>
                            <tbody>
                            ${customerNomineeInfo}
                            </tbody>
                          </table>
                          </div>
                          <div class="table-responsive">
                          <table class="table table-bordered">
                            <h4>Invoice Due:</h4>
                            <thead>
                              <tr><th>Invoice</th><th>Invoice Amount</th><th>Due Amount</th><th>Remaining Amt</th><th>Installment Duration</th><th>Installment Charge(%)</th><th class="text-warning">Is Payment Complete</th></tr>
                            </thead>
                            <tbody>
                            ${customerDueInfo}
                            </tbody>
                          </table>
                        </div>
                          `)
                      } else {
                        self.setContent('No Data Found!.');
                      }
                     
                  }).fail(function(){
                      self.setContent('Something went wrong.');
                  });
              }
          });
      })

  })
</script>
