<%- include('../layout/adminHeader'); -%>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header d-flex p-0">
            <h3 class="card-title p-3"><b><%- (typeof page_title != 'undefined') ? page_title : ''; %></b></h3>
            <ul class="nav nav-pills ml-auto p-2">
              <li class="nav-item">
                <a class="btn btn-sm btn-primary" href="/admin/project"
                  ><i class="fa fa-arrow-left"></i> Back</a
                >
              </li>
            </ul>
          </div>
          <div class="card-body">
            <form action="/admin/project/project-create" method="post" enctype="multipart/form-data" >
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="title">Project Num</label>
                    <input type="text" class="form-control"id="project_num"  name="project_num" placeholder="Project Number" value="<%- (typeof old != 'undefined') ? old.project_num : ''; %>" />
                    <p class="text-danger">
                      <%= (typeof errors != 'undefined' &&
                      errors.project_num)?errors.project_num:''; %>
                    </p>
                  </div>
                  <div class="form-group">
                    <label for="title">Project Name</label>
                    <input type="text" class="form-control"id="project_name"  name="project_name" placeholder="Project Name" value="<%- (typeof old != 'undefined') ? old.project_name : ''; %>" />
                    <p class="text-danger">
                      <%= (typeof errors != 'undefined' &&
                      errors.project_name)?errors.project_name:''; %>
                    </p>
                  </div>
                 
                  <div class="form-group">
                    <label for="title">Provider</label>
                    <% if(typeof providerData != 'undefined') { %>
                        <select class="form-control" name="provider" required>
                            <option value="">--Select Provider--</option>
                            <% if(providerData.length > 0) { %>
                            <% for(let key in providerData){ %>
                                <option value="<%- providerData[key].id %>" <%- (typeof old != 'undefined' && old?.provider == providerData[key].id) ? 'selected' : ''; %> >
                                    <%- providerData[key].title %>
                                </option>
                            <% } %>
                            <% } %>
                        </select>
                    <% }else{ %>
                        <p class="text-danger">Provider Data not Found!.</p>
                   <%  } %>
                    <p class="text-danger">
                      <%= (typeof errors != 'undefined' &&
                      errors.provider)?errors.provider:''; %>
                    </p>
                  </div>
                  <div class="form-group">
                    <label for="title">Project Type</label>
                    <input type="text" class="form-control"id="type"  name="type" placeholder="Project Type" value="<%- (typeof old != 'undefined') ? old.type : ''; %>" />
                    <p class="text-danger">
                      <%= (typeof errors != 'undefined' &&
                      errors.type)?errors.type:''; %>
                    </p>
                  </div>
                  <div class="form-group">
                    <label for="title">Methodology Protocol</label>
                    <input type="text" class="form-control"id="methodology_protocol"  name="methodology_protocol" placeholder="Methodology" value="<%- (typeof old != 'undefined') ? old.methodology_protocol : ''; %>" />
                    <p class="text-danger">
                      <%= (typeof errors != 'undefined' &&
                      errors.methodology_protocol)?errors.methodology_protocol:''; %>
                    </p>
                  </div>
                  <div class="form-group">
                    <label for="title">Project Details</label>
                    <textarea class="form-control"id="description"  name="description" placeholder="Project Details"><%- (typeof old != 'undefined') ? old.description : ''; %></textarea>
                  </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="title">Region</label>
                      <input
                        type="text"
                        class="form-control"
                        id="region"
                        name="region"
                        placeholder="Provider Title"
                        value="<%- (typeof old != 'undefined') ? old.region : ''; %>"
                      />
                      <p class="text-danger">
                        <%= (typeof errors != 'undefined' &&
                        errors.region)?errors.region:''; %>
                      </p>
                    </div>

                    <div class="form-group">
                        <label for="title">Country</label>
                        <input
                          type="text"
                          class="form-control"
                          id="country"
                          name="country"
                          placeholder="Provider Title"
                          value="<%- (typeof old != 'undefined') ? old.country : ''; %>"
                        />
                        <p class="text-danger">
                          <%= (typeof errors != 'undefined' &&
                          errors.country)?errors.country:''; %>
                        </p>
                      </div>
                     
                      <div class="form-group">
                        <label for="title">Project Site Location</label>
                        <input
                          type="text"
                          class="form-control"
                          id="project_site_location"
                          name="project_site_location"
                          placeholder="Provider Title"
                          value="<%- (typeof old != 'undefined') ? old.project_site_location : ''; %>"
                        />
                        <p class="text-danger">
                          <%= (typeof errors != 'undefined' &&
                          errors.project_site_location)?errors.project_site_location:''; %>
                        </p>
                      </div>
                      <div class="form-group">
                        <label for="title">Project Developer</label>
                        <input
                          type="text"
                          class="form-control"
                          id="project_developer"
                          name="project_developer"
                          placeholder="Provider Title"
                          value="<%- (typeof old != 'undefined') ? old.project_developer : ''; %>"
                        />
                        <p class="text-danger">
                          <%= (typeof errors != 'undefined' &&
                          errors.project_developer)?errors.project_developer:''; %>
                        </p>
                      </div>
                      <div class="form-group">
                        <label for="title">Registry Url</label>
                        <input type="text" class="form-control"id="registry_url"  name="registry_url" placeholder="Registry Url" value="<%- (typeof old != 'undefined') ? old.registry_url : ''; %>" />
                        <p class="text-danger">
                          <%= (typeof errors != 'undefined' &&
                          errors.registry_url)?errors.registry_url:''; %>
                        </p>
                      </div>
                      <div class="form-group">
                        <label for="title">Project Image</label>
                        <input type="file" class="form-control" id="image" name="image"/>
                      </div>
                    
                </div>
                
                  <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../layout/adminFooter'); -%>
