<%- include('../layout/adminHeader'); -%>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header d-flex p-0">
            <h3 class="card-title p-3"><b>Customer Due List</b></h3>
            <ul class="nav nav-pills ml-auto p-2">
              <li class="nav-item">
                <a class="btn btn-sm btn-info filterbutton" id="filterbutton"><i class="fa fa-solid fa-filter"></i> Filter</a>
              </ul>
          </div>

          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table table-bordered table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>SL</th>
                    <th>Action</th>
                    <th>Customer Name</th>
                    <th>Customer Phone</th>
                    <th>Invoice Number</th>
                    <th>Invoice Due Amount</th>
                    <th>Due Remaining Amount</th>
                    <th>Installment Duration</th>
                    <th>Due Payment Complete</th>
                    <th>Created Date</th>
                    <th>Last Due Collection Date</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <% if(rows.length > 0) { 
                    rows.forEach(row=>{%>
                    <tr>
                        <td><%- sl++ %></td>
                        <td>
                          <% if(has_permission(Request, ['due.collection'])){ %>
                            <a class="btn btn-success btn-sm due-collecction <%- (row.remaining_amount == 0) ? 'disabled' : '' %>" data-id="<%= row.id %>" data-inoviceNum="<%= row.invoice_no %>" data-dueamount="<%= row.remaining_amount %>"><i class="fas fa-plus-circle"></i> ADD</a>
                          <% } %>
                          <a class="btn btn-warning btn-sm check-details" data-id="<%= row.id %>"><i class="fa fa-eye"></i> DETAILS</a>
                        </td>
                        <td><%- row.customer_name %></td>
                        <td><%- row.customer_phone %></td>
                        <td><%- row.invoice_no %></td>
                        <td><%- row.due_amount %></td>
                        <td><%- row.remaining_amount %></td>
                        <td><%- row.installment_duration %></td>
                        <td>
                          <span class="<%- row.is_repayment_completed == 1 ? 'badge bg-success' : 'badge bg-danger' %>">
                          <%- row.is_repayment_completed == 1 ? 'Completed' : 'Not Completed' %>
                          </span>
                        </td>
                        <td><%- row.created_at %></td>
                        <td><%- row.last_updated_at %></td>
                    </tr>
                <% }) }else{%>
                    <tr>
                        <td colspan="9" class="text-center">No Data Found!</td>
                    </tr>
                <% }%>
                </tbody>
              </table>
          </div>
          </div>

          <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><%- pagination %></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<%- include('../layout/adminFooter'); -%>

<script>
  $(function () {
      
     
      $(document).on('click','.due-collecction',function (e) {
          e.preventDefault();
          var customer_due_id = $(this).attr('data-id');
          var invoiceNum = $(this).attr('data-inoviceNum');
          var dueamount = $(this).attr('data-dueamount');
          $.confirm({
                      title: `Due Payment For # ${invoiceNum}`,
                      content: '' +
                      '<form class="formName" id="dueCollectionForm">' +
                        '<hr>' +
                        '<h3>Due Amount: '+dueamount+'</h3>' +
                        '<div class="form-group">' +
                        '<label>Invoice Num:</label>' +
                        '<input type="text" name="invoice_no" id="invoice_no" class="invoice_no form-control" value="'+invoiceNum+'" required readonly />' +
                        '</div>' +
                      '<div class="form-group">' +
                      '<label>Payment Amount:</label>' +
                      '<input type="number" name="payment_amount" id="payment_amount" minlength="0" placeholder="Payment Amount" class="amount form-control" required />' +
                      '</div>' +
                      '</form>',
                      buttons: {
                          formSubmit: {
                              text: 'SAVE',
                              btnClass: 'btn-blue btn-success',
                              action: function () {
                                let checkUrl = `/admin/customer-due-collection/${customer_due_id}/${invoiceNum}/customer-due-collection-save`;
                                var formValue = $("#dueCollectionForm").serialize();
                                var invoice_no = this.$content.find('#invoice_no').val();
                                var payment_amount = parseFloat(this.$content.find('#payment_amount').val());
                                if (invoice_no && payment_amount && payment_amount > 0 ) {
                                    $.ajax({
                                    url: checkUrl,
                                    type: "POST",
                                    data: formValue,
                                    success: function (ret_data) {
                                      if (ret_data == 'SUCCESS') { 
                                        $.alert('Payment collection Added successfully!');
                                      } else if(ret_data=='ERROR_AMOUNT_NOT_EXIST') {
                                        $.alert('Customer Due amount not found!.');
                                      }else{
                                        $.alert('Something Went Wrong.Please try again later.');
                                      }
                                      location.reload();
                                    }
                                  })
                                }else{
                                  $.alert('Payment Amount Must be greater than 0.!');
                                }
                              }
                          },
                          cancel: function () {
                              //close
                          },
                      },
                  });
      });

      $('.check-details').on('click',function () {
          let due_id = $(this).data("id");
          let checkUrl = '/admin/customer-due-collection-details/'+due_id;
          $.alert({
              title: '',
              type: 'green',
              draggable: true,
              columnClass: 'col-md-12',
              content: function () {
                  var self = this;
                  return $.ajax({
                      url: checkUrl,
                      dataType: 'json',
                      method: 'get'
                  }).done(function (response) {
                      var tableRowR ='';
                      var invoiceNum=''
                      var totalCollectionAmt=0;
                        if (response.length > 0) {
                          response.forEach((element,index) => {
                            invoiceNum = element.invoice_no;
                            totalCollectionAmt += element.amount;
                            tableRowR += `<tr>
                                  <td>${index +1}</td>
                                  <td>${element.amount}</td>
                                  <td>${element.created_by_name}</td>
                                  <td>${element.created_at}</td>
                                  <td>${element.remarks}</td>
                              </tr>`;
                        });
                        
                        self.setContent(`<div class="row">
                                            <div class="col-md-12">
                                              <h4>Due Collection Details For(${invoiceNum})</h4>
                                              <h5 class="text-warning">Total Due Collection Amount: (${totalCollectionAmt})</h5 class="text-warning">
                                              <div class="table-responsive">
                                              <table class="table table-bordered">
                                                <thead>
                                                  <tr><th>#</th><th>Collocetion Amount</th><th>Collected By</th><th>Collected Date</th><th>Remarks</th></tr>
                                                </thead>
                                                <tbody>
                                                  ${tableRowR}
                                                </tbody>
                                              </table>
                                            </div>
                                            </div>
                                        </div>`)
                      } else {
                        self.setContent('No Data Found!.');
                      }
                     
                  }).fail(function(){
                      self.setContent('Something went wrong.');
                  });
              }
          });
      })
  })
</script>
