<%- include('../layout/adminHeader'); -%>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header d-flex p-0">
            <h3 class="card-title p-3"><b>Customer Due List</b></h3>
            
          </div>

          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table table-bordered table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>SL</th>
                    <th>Customer Name</th>
                    <th>Invoice Number</th>
                    <th>Due Amount</th>
                    <th>Due Remaining Amount</th>
                    <th>Installment Duration</th>
                    <th>Due Payment Complete</th>
                    <th>Created Date</th>
                    <th>Last Due Collection Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(rows.length > 0) { 
                    rows.forEach(row=>{%>
                    <tr>
                        <td><%- sl++ %></td>
                        <td><%- row.customer_name %></td>
                        <td><%- row.invoice_no %></td>
                        <td><%- row.due_amount %></td>
                        <td><%- row.remaining_amount %></td>
                        <td><%- row.installment_duration %></td>
                        <td>
                          <span class="<%- row.is_repayment_completed == 1 ? 'badge bg-success' : 'badge bg-danger' %>">
                          <%- row.is_installment == 1 ? 'Completed' : 'Not Completed' %>
                          </span>
                        </td>
                        <td><%- row.created_at %></td>
                        <td><%- row.last_updated_at %></td>
                        <td></td>
                    </tr>
                <% }) }else{%>
                    <tr>
                        <td colspan="9" class="text-center">No Data Found!</td>
                    </tr>
                <% }%>
                </tbody>
              </table>
          </div>
          </div>

          <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
             
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<%- include('../layout/adminFooter'); -%>

<script>
  $(function () {
      $(document).on('click','.delete_btn',function (e) {
          e.preventDefault();
          var target = $(this).closest('form.delete_form');
          $.confirm({
                  icon: 'fas fa-warning',
                  title: 'Confirm!',
                  content: 'Do you want to delete this Product??',
                  type: 'red',
                  typeAnimated: true,
                  buttons: {
                      confirm: function () {
                          target.submit();
                      },
                      cancel: function () {
                      }
                  }
          });
     
      });
     
      $(document).on('click','.add-stock',function (e) {
          e.preventDefault();
          var product_id = $(this).attr('data-id');
          var identity_code = $(this).attr('data-code');
          $.confirm({
                      title: `Add Quantity For # ${identity_code}`,
                      content: '' +
                      '<form class="formName" id="inventoryForm">' +
                      '<div class="form-group">' +
                      '<label>Quantity:</label>' +
                      '<input type="number" name="quantity" minlength="0" placeholder="Product Quantity" class="quantity form-control" required />' +
                      '</div>' +
                      '</form>',
                      buttons: {
                          formSubmit: {
                              text: 'SAVE',
                              btnClass: 'btn-blue btn-success',
                              action: function () {
                                let checkUrl = `/admin/inventory/${product_id}/${identity_code}/inventory-save`;
                                var formValue = $("#inventoryForm").serialize();
                                var qty = this.$content.find('.quantity').val();
                                if (product_id && identity_code && qty > 0 ) {
                                    $.ajax({
                                    url: checkUrl,
                                    type: "POST",
                                    data: formValue,
                                    success: function (ret_data) {
                                      if (ret_data == 'SUCCESS') { 
                                        $.alert('Product Stock Added successfully!');
                                      } else {
                                        $.alert('Something Went Wrong.Please try again later.');
                                      }
                                      
                                    }
                                  })
                                }else{
                                  $.alert('Quantity Must be greater than 0.!');
                                }
                              }
                          },
                          cancel: function () {
                              //close
                          },
                      },
                  });
      });
  })
</script>
