
<%- include('../layout/adminHeader'); -%>

<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header d-flex p-0">
              <h3 class="card-title p-3"><b><%- (typeof page_title != 'undefined') ? page_title : ''; %> #<%-id%></b></h3>
              <ul class="nav nav-pills ml-auto p-2">
                <li class="nav-item">
                  <a class="btn btn-sm btn-primary" href="/admin/currencies"
                    ><i class="fa fa-arrow-left"></i> Back</a
                  >
                </li>
              </ul>
            </div>
            <div class="card-body">
                <form action="/admin/currencies/<%-id%>/edit" method="POST">
                    <%- include('./form'); -%>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<%- include('../layout/adminFooter'); -%>
