<%- include('../layout/adminHeader'); -%>


<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header d-flex p-0">
              <h3 class="card-title p-3"><b>User Activity Log</b></h3>
              <ul class="nav nav-pills ml-auto p-2">
                <li class="nav-item">
                 <a class="btn btn-sm btn-info filterbutton" id="filterbutton"><i class="fa fa-solid fa-filter"></i> Filter</a>
              </ul>
            </div>
  
            <div class="card-body">
              <table class="table table-bordered table-hover table-responsive">
                <thead>
                  <tr>
                    <th>SL</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Datetime</th>
                    <th>IP</th>
                    <th>Device Info</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(rows.length > 0) { 
                    rows.forEach(row=>{%>
                    <tr>
                        <td><%- sl++ %></td>
                        <td><%- row.log_name %></td>
                        <td><%- row.description %></td>
                        <td><%= row.created_at != null? moment(row.created_at).format('YYYY-MM-DD HH:mm ss'):'N/A' %></td>
                        <td><%- row.ip_address %></td>
                        <td><%- row.user_agent %></td>
                    </tr>
                <% }) }else{%>
                    <tr>
                        <td colspan="6" class="text-center">No Data Found!</td>
                    </tr>
                <% }%>
                </tbody>
              </table>
            </div>
  
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><%- pagination %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

<%- include('../layout/adminFooter'); -%>