<%- include('../layout/adminHeader'); -%>

<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header d-flex p-0">
              <h3 class="card-title p-3"><b>Sales Unit List</b></h3>
              <ul class="nav nav-pills ml-auto p-2">
                <li class="nav-item">
                  <a class="btn btn-sm btn-info filterbutton" id="filterbutton"><i class="fa fa-solid fa-filter"></i> Filter</a>
                  <% if(has_permission(Request, ['sale-unit.create'])){ %>
                    <a href="/admin/sales-units/create" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> Create New</a>
                    </li>
                  <% } %>
                </ul>
            </div>
  
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead >
                        <tr>
                            <th>SL</th>
                            <th>Title</th>
                            <th>Symbol</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(rows.length > 0) { 
                            rows.forEach(row=>{%>
                            <tr>
                                <td><%- sl++ %></td>
                               <td><%- row.title %></td>
                               <td><%- row.symbol %></td>
                               <td>
                                <% if(has_permission(Request, ['sale-unit.edit'])){ %>
                                    <a href="/admin/sales-units/<%- row.id %>/edit" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></a>
                                <% } %>
                                <% if(has_permission(Request, ['sale-unit.delete'])){ %>
                                    <form action="/admin/sales-units/<%- row.id %>/delete" method="POST" style="display: inline;">
                                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure want to delete this?');"><i class="fa fa-trash"></i></button>
                                    </form>
                                <% } %>
                                </td>
                            </tr>
                            
                        <% }) }else{%>
                            <tr>
                                <td colspan="5" class="text-center">No Data Found!</td>
                            </tr>
                        <% }%>
                            
                    </tbody>
                </table>
              </div>
            </div>
  
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><%- pagination %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include('../layout/adminFooter'); -%>
    